@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-size: 20px;
  letter-spacing: 1.4;
  word-spacing: 1.4;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
button {
  background-color: #440f0f;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px 30px 7px 20px;
  transition: 0.5s;
}
button:hover {
  background-color: rgb(123, 35, 35);
}

/* ############Landing Page##################*/
.gridcontainer {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20% 5%;
  align-content: space-around;
  justify-content: space-between;
  margin-bottom: 200px;
}
.grid1 {
  grid-area: 1 / 2 / 1 / 2;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
}
.grid2 {
  grid-area: 1 / 4 / 1 / 4;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
}
.grid3 {
  grid-area: 1 / 6 / 1 / 6;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
}
.grid4 {
  grid-area: 2 / 2 / 2 / 2;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
}
.grid5 {
  grid-area: 2 / 4 / 2 / 4;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
}
.grid6 {
  grid-area: 2 / 6 / 2 / 6;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
}
.gridItemContainer {
  height: 250px;
  width: 250px;
  background-color: transparent;
}
.gridItemContainer img {
  border-radius: 10px 10px 0px 0px;
}
.gridItemContainerInfo {
  text-align: center;
}
.MarktingSlogan {
  position: absolute;
  color: whitesmoke;
  z-index: 44;
  bottom: 300px;
  left: 800px;
  letter-spacing: 2px;
  font-size: 200%;
  padding: 40px 50px;
  border: 3px solid white;
}

/* ############Product Page##################*/
.productContainer {
  height: 100vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productContainer container {
  height: 80vh;
  width: 80vw;
  background-color: rgb(221, 210, 210, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.productContainer h1 {
  margin: 0 0 40px 0;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  font-size: 200%;
  border-bottom: 2px black solid;
}

.productContainer img {
  height: 50vh;
  width: auto;
  border-radius: 80px 2px 30px 2px;
}
.productContainer p {
  margin-bottom: 30px;
}

.productContainerText {
  width: 30vw;
  margin-bottom: 20px;
}
.productContainer button {
  margin-left: 30px;
}
.productContainer span {
  font-weight: 600;
  letter-spacing: 1.5px;
}

/*########PaymentForm###########*/
.paymentContainer {
  height: 90vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paymentContainer container {
  padding-left: 50px;
  height: 60vh;
  width: 60vw;
  background-color: rgba(221, 210, 210, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 180px 20px 50px;
}

.paymentContainer button {
  margin: 25px 100px 25px 0;
  height: 70px;
  width: 200px;
  font-size: 110%;
}

.paymentContainerLeft {
  display: flex;
  justify-content: space-around;
}
.paymentContainerLeft div {
  width: 200px;
}

.paymentContainerLeftList {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.paymentContainerLeft p {
  margin: 10px 0 10px 0;
}

.paymentContainerTotalPrice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;

  margin-left: 40px;
}
.paymentContainerTotalPrice p {
  width: 200px;
  padding-left: 20px;
}
.paymentContainerTotalPrice h2 {
  width: 200px;
}
.h_line {
  width: 80%;
  margin-left: 10px;
  height: 3px;
  background: rgb(0, 0, 0);
}
/*########Checkout###########*/

.checkoutContainer {
  height: 120vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutContainer container {
  height: 100vh;
  width: 60vw;
  background-color: rgb(221, 210, 210, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 180px 20px 50px;
}
