@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-size: 20px;
  letter-spacing: 1.4;
  word-spacing: 1.4;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.9);
}

* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
h4 {
  margin: 0;
}
button {
  background-color: #440f0f;
  border: none;

  color: whitesmoke;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px 30px 30px 5px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
button:hover {
  background-color: rgb(123, 35, 35);
}

/* ############Landing Page##################*/
.LandingPageBackground {
  background: url('/background-pic3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MarktingSlogan {
  z-index: 44;
  padding: 50px 50px 40px 50px;
  margin-top: 20%;
  width: 35%;
  height: 50vh;
  background-color: rgba(245, 245, 245, 0.856);
  border-radius: 50px 50px 0 0;
  text-align: center;
}
.MarktingSlogan h1 {
  font-weight: 300;
  letter-spacing: 6px;
  word-spacing: 10px;
  font-size: 280%;
  margin: 10px 0 40px 0;
  border-bottom: 2px solid black;
  color: rgb(12, 12, 12);
}
.MarktingSlogan p {
  font-size: 90%;
  font-weight: 500;
  text-align: left;
  line-height: 200%;
  color: rgba(12, 12, 12, 0.83);
  letter-spacing: 2px;
  word-spacing: 4px;
}

.gridFontPrice {
  opacity: 0.8;
  font-size: 75%;
}
.gridItemContainerInfo p {
  letter-spacing: 3px;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20% 5%;
  align-content: space-around;
  justify-content: space-between;
  margin-bottom: 200px;
  margin: 150px 10% 250px 10%;
}
.grid1:hover,
.grid2:hover,
.grid3:hover,
.grid3:hover,
.grid4:hover,
.grid5:hover,
.grid6:hover {
  opacity: 0.8;
}
.grid1 {
  grid-area: 1 / 2 / 1 / 2;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid rgba(28, 28, 29, 0.687);
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}
.grid2 {
  grid-area: 1 / 4 / 1 / 4;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid rgba(28, 28, 29, 0.687);
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}
.grid3 {
  grid-area: 1 / 6 / 1 / 6;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid rgba(28, 28, 29, 0.687);
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}
.grid4 {
  grid-area: 2 / 2 / 2 / 2;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid rgba(28, 28, 29, 0.687);
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}
.grid5 {
  grid-area: 2 / 4 / 2 / 4;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid rgba(28, 28, 29, 0.687);
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}
.grid6 {
  grid-area: 2 / 6 / 2 / 6;
  background-color: rgb(247, 247, 247);
  border-bottom: 3px solid rgba(28, 28, 29, 0.687);
  border-radius: 10px 10px 0px 0px;
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}
.gridItemContainer {
  height: 350px;
  width: 300px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px 10px 0 0;
}
.gridItemContainer img {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -20px;

  width: 100%;
}
.gridItemContainerInfo {
  text-align: center;
}

/* ############Product Page##################*/
.productContainer {
  height: 110vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productContainer .container {
  height: 80vh;
  width: 80vw;
  margin: 100px 0 50px 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.productContainer h1 {
  margin: 0 0 40px 0;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  font-size: 200%;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 2px rgba(0, 0, 0, 0.9) solid;
}

.productContainer img {
  height: 60vh;
  width: auto;
  border-radius: 80px 2px 30px 2px;
  margin-left: 40px;
}
.productContainer p {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.734);
}

.productContainerText {
  width: 30vw;
  margin-bottom: 20px;
  margin-right: 50px;
}
.productContainer button {
  margin-left: 30px;
  margin-top: 2px;
  width: 250px;
}
.productContainer span {
  font-weight: 600;
  letter-spacing: 1.5px;
}
.productContainer input {
  position: relative;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 50px;
  margin-left: 5px;
  bottom: 1px;
}
.AmountButton {
  display: flex;
  color: rgba(0, 0, 0, 0.9);
}
.AmountButton span {
  margin-top: 10px;
  font-size: 17px;
}
.AmountButton p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

/*########PaymentForm###########*/
.paymentContainer {
  height: 90vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}
.paymentContainer .container {
  padding: 20px 50px 50px 50px;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 180px 180px 180px;
  margin: 150px 0 50px 0;
}

.paymentContainerLeft {
  display: flex;
  margin-right: 40px;
}
.paymentContainerLeft div {
  margin: 5px 0 5px 0;
}

.paymentContainerLeftList {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.table p {
  width: 300px;
}

.h_line {
  width: 100%;
  height: 1.6px;
  background: rgb(0, 0, 0);
}
.paymentContainerButton {
  width: 30%;
}
.paymentContainer button {
  margin: 25px 100px 25px 0;
  height: 70px;
  width: 170px;
  font-size: 110%;
  font-size: smaller;
  padding: 0 5px;
}
.table {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.tablebottom {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.paymentContainer img {
  display: block;
  cursor: pointer;
}

/*########Checkout###########*/

.checkoutContainer {
  height: 120vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}
.checkoutContainer .container {
  height: 100vh;
  margin-top: 100px;
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 120px 400px 1000px 30px;
}
.Shipping {
  width: 40%;
  margin: 0px 0px 0px 100px;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  margin: 10px 0px;
}
.checkoutContainerPrice {
  width: 90%;
  margin-bottom: 140px;
}
.checkoutContainerPrice p {
  display: inline;

  line-height: 200%;
}
.checkoutContainerPriceProduct {
  margin-right: 200px;
}
.checkoutContainer .h_line {
  margin-left: -19px;
}
.checkoutContainerTotalProduct {
  margin-right: 180px;
}
.checkoutContainer button {
  width: 300px;
  margin: 30px 0 0 20px;
}

/*##########thank you##########*/
.thanksContainer {
  height: 65vh;
  background-image: url('/coffee-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanksContainer p {
  opacity: 0.8;
}
.thanksContainer h1 {
  color: rgba(0, 0, 0, 0.8);
}
.thanksContainer .container {
  margin-top: 60px;
  padding: 50px;
  line-height: 170%;
  width: 60vw;
  background-color: rgba(221, 210, 210, 0.95);
  box-shadow: -15px -9px 55px -10px rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100px 300px 100px 300px;
}

.thanksContainer button {
  border-radius: 50% 10% 10% 50%;
  margin: 0px 0px 90px -30px;
}
